

h1 {
    /* width: 50%; */
    line-height: 1;
    text-align: center;
    padding: 0px 10px;
    color: var(--black);
    font-family: 'Monoton','Fugaz One', serif;
    font-size: 5em;
    text-shadow: 8px 8px 3px var(--shadow);
    margin: 0px;
}

h2 {
    line-height: 2;
    text-align: center;
    margin: 0px;
    font-family: 'Lobster', Times, serif;
    font-size: 3em;
    color: var(--shadow);
    text-decoration: underline;
    text-decoration-style: double;
}
@media (max-width: 400px) {
    h1 {
        font-size: 3em; 
    }

    h2 {
        font-size: 2em;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 4em; 
    }

    h2 {
        font-size: 3em;
    }
}



.logo {
    position: fixed;
    z-index: -1
}


header {
	display: flex;
	justify-content: center;
	align-items: center;
    line-height: 1;
    position: relative;
    background: var(--green);
    padding: 13px 0px;
    box-shadow: inset 0px 0px 89px 21px var(--shadow);
    height: 377px;
    width: 100%;
    z-index: -1;
}
