
button {
    cursor: pointer;
    /* transform: scale(0.8); */
    background: var(--beige);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather";
    margin: 5px 21px;
    color: var(--black);
    font-size: 3em;
    text-shadow: 1px 1px 3px var(--shadow);
    transition: text-shadow 0.5s;
}

