
button {
    cursor: pointer;
    background: var(--beige);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poiret One", sans-serif;
    font-weight: bolder;
    margin: var(--margin);
    color: var(--black);
    font-size: var(--font-size);
    text-shadow: 1px 1px 3px var(--shadow);
    transition: text-shadow 0.5s;
    padding: 8px 13px;
}



