

.menu {
    list-style: none;
    box-shadow: 8px 8px 89px 1px var(--shadow);
    position: absolute;
    top: 0px;
    left: -100%;
    transition: all 0.5s;
    background-color: var(--beige);
    width: var(--menu-width);
    padding: 55px;
}
  
.menu-active {
    left: 0px;
    transition: all 0.1s;
    
}

.menu li {
    cursor: pointer;
    /* padding: 15px; */
    margin: var(--margin);
    line-height: 2;
    font-size: var(--font-size);
    font-family: 'Merriweather', serif;
    color: var(--black);
    text-shadow: 1px 1px 3px var(--shadow);
    padding: var(--padding);
}

