
@import url('https://fonts.googleapis.com/css?family=Aleo');

.menu {
    list-style: none;
    box-shadow: 8px 8px 89px 1px var(--shadow);

    /* --menu-width: 150px; */
    position: absolute;
    top: 0px;
    left: -100%;
    transition: all 0.5s;
    /* bottom: 0px; */
    background-color: var(--beige);
    width: var(--menu-width);
    padding: 55px;
  
}
  
.menu-active {
    left: 0px;
    transition: all 0.1s;
    
}

.menu li {
    cursor: pointer;
    /* padding: 15px; */
    font-size: 21px;
    font-family: 'Aleo', serif;
    color: var(--black);
    text-shadow: 1px 1px 2px var(--shadow);

}

