nav {
    background: var(--beige);
    position: sticky;
    top: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    /* border-bottom: var(--border); */
    box-shadow: 3px 3px 13px 1px var(--shadow);

}

/* .search-box {
    margin-right: 10px;
} */

input.search-box {
    width: 10%;
    min-width: 150px;
    background: var(--beige);
    border: none;
    border:solid var(--black) 2px;
    padding: var(--padding);
    color: var(--black);
    font-size: var(--font-size);
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    border-radius: 13px;
    margin: var(--margin);
    align-self: flex-end;
    transition: width 0.5s;

}

input.search-box:focus {
    width: 100%;
    transition: width 0.5s;
}

::placeholder {
    color: var(--shadow);
    font-weight: bold;
    font-size: var(--font-size);
}
    

::-webkit-search-cancel-button {
    color: var(--black);
}


::-ms-clear {
    color: var(--black);
}