nav {
    background: var(--beige);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    /* border-bottom: var(--border); */
    box-shadow: 3px 3px 13px 1px var(--shadow);
}

/* .search-box {
    margin-right: 10px;
} */

.search-box input {
    max-width: 300px; 
    background: var(--beige);
    border: none;
    border:solid var(--black) 2px;
    padding: 8px 13px;
    color: var(--black);
    font-size: 1.5em;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    border-radius: 13px;
    margin: 5px 21px;
}

.search-box input:focus {
    width: 100%;
}

::placeholder {
    color: var(--black);
    font-size: 21px;
    font-weight: bold;
}
    

::-webkit-search-cancel-button {
    color: var(--black);
}


::-ms-clear {
    color: var(--black);
}