@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Damion');
h3 {
    display: none;
}

header {
    line-height: 1;
    position: relative;
    background: var(--green);
    padding: 10px 0px;
    box-shadow: inset 1px 1px 5px 1px var(--shadow);
    height: 80px;
    z-index: -2;
}
h1, h3 {
    text-align: center;
    padding: 0px 10px;
    color: var(--black);
    font-family: 'Fugaz One', fantasy, 'Franklin Gothic Medium', serif;
    font-size: 3em;
    text-shadow: 5px 5px 0px var(--shadow);
    margin: 0px;
}

h2 {
    /* position: fixed; */
    text-align: center;
    margin: 0px;
    font-family: 'Damion', 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: var(--shadow);
    text-decoration: underline;
}

.logo {
    position: fixed;
    z-index: -1
}