@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Damion');
h3 {
    display: none;
}

h1, h3 {
    text-align: center;
    padding: 0px 10px;
    color: var(--black);
    font-family: 'Fugaz One', fantasy, 'Franklin Gothic Medium', serif;
    font-size: 3em;
    text-shadow: 5px 5px 0px var(--shadow);
    margin: 0px;
}

h2 {
    text-align: center;
    margin: 0px;
    font-family: 'Damion', 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: var(--shadow);
    text-decoration: underline;
}

.logo {
    line-height: 1;
    position: relative;
    background: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    border: var(--border);
    width: 300px;
    padding: 10px 0px;
    margin: 20px;
}