button {
    transform: scale(0.8);
    background: var(--green);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: var(--border);
    width: 50px;
    height: 50px;
    margin: 0px;
}

.bar {
    background-color: var(--black);
    width: 30px;
    height: 6px;
    transition: all 0.25s;
}

.bar-center {
    width: 15px;
    align-self: flex-start;
    transition: width 0.25s;

}

button:hover .bar-center {
    width: 30px;
    transition: width 0.1s;
}

.menu-btn-active .bar-center {
    opacity: 0;
    transition: all 1s;
}

.menu-btn-active .bar-top {
    transform: translateY(calc(210%)) rotate(45deg);
    transition: all 0.25s;
}

.menu-btn-active .bar-bottom {
    transform: translateY(calc(-210%)) rotate(-45deg);
    transition: all 0.25s;
}