nav {
    background: var(--pink);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: var(--border);

}

.search-box {
    /* max-width: 500px; */
    margin-right: 10px;
}

.search-box input {
    max-width: 300px; 
    background: var(--beige);
    border: var(--border);
    color: var(--black);
    font-size: 1.2em;
    padding: 5px 10px;
}



::placeholder {
    color: var(--black);
}
    

::-webkit-search-cancel-button {
    color: var(--black);
}


::-ms-clear {
    color: var(--black);
}